@import '../../../styles//common/index.scss';
.product-item {
  height: 100% !important;
  position: relative;
  border: 1px solid $border-color;

  &.ant-card {
    border: none !important;
    border-radius: none !important;
  }

  &:hover .product-item__function {
    display: flex;
    box-shadow: 0 5px 5px $shadow-color;
  }

  &:hover .product-item-image {
    box-shadow: 0px -2px 10px $shadow-color;
  }

  &:hover .product-item-body {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: none;
    box-shadow: 0px 0px 10px $shadow-color;
  }
  &:hover .product-item-title {
    color: $hover-color;
  }

  &__btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
  }

  &__function {
    padding: 0px 16px 10px 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;

    display: none;
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 0;
    background-color: $white-color;
    width: 100%;

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid $border-color;
    border-top: none;
  }

  & .ant-card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &-image__contain {
    width: 100%;
    aspect-ratio: 10/6;
    position: relative;
  }

  &-image {
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid $border-color;
    border-bottom: none;
    overflow: hidden;
  }

  &-body {
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 100%;

    flex: 1;
    justify-content: space-between;
    border: 1px solid $border-color;
    border-bottom-left-radius: $radius-medium;
    border-bottom-right-radius: $radius-medium;
    background-color: $white-color;

    &__top {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      &-heart {
        font-size: 20px;
        color: red;
        display: flex;
        justify-content: center;
        align-items: center;

        // & .heart-fill {
        //   display: none;
        // }

        // &:hover .heart-fill {
        //   display: block;
        // }
        // &:hover .heart-outline {
        //   display: none;
        // }
      }
    }
  }

  &-brand {
    @include text($font-small, $primary-color-700, 500, $font-large, 1);
  }

  &-title {
    @include text($font-medium, $heading-color, 500, 20px, 2);
    height: 40px;
  }

  &-rate {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  &-old-price {
    @include text($font-small, $sub-heading-color, 400, $font-large, 1);
    text-decoration: line-through;
  }
  &-new-price {
    @include text($font-large, $secondary-color, 600, 20px, 1);
  }
}
