.cart-2 {
  $main-color: #00328b;
  &__container {
    position: relative;
    background: #ffffff;
    border: 13px solid $main-color;
    border-radius: 30px;
    padding: 10px 10px 30px 10px;
    max-width: 450px;
    margin: 0 auto;
  }

  &__image {
    position: relative;
    width: 100%;
    aspect-ratio: 3/2;

    & img {
      border-radius: 10px;
    }
  }

  &__price {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -13px);
    z-index: 1;

    background-color: $main-color;
    padding: 10px 40px;
    border-radius: 0 0 30px 30px;
    text-align: center;

    &--old {
      @include text(20px, $white-color, 700, 22px, 1);
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $white-color;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &--new {
      @include text(30px, $primary-color-700, 900, 32px, 1);
    }
  }

  &__buy {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 7.5px));
    z-index: 100;
    background-color: $main-color;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 12px 50px;
    text-align: center;
    width: max-content;
    cursor: pointer;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

    background-image: linear-gradient(
      to right,
      #3f86ed,
      $main-color,
      #04befe,
      #3f86ed
    );
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
    background-size: 300% 100%;

    &:hover {
      background-position: 100% 0;
      moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }

    & span:first-child {
      display: block;
      @include text(25px, $primary-color-700, 700, 30px, 1);
    }

    & span:last-child {
      @include text($font-small, $white-color, 400, $font-large, 1);
    }
  }

  &__title {
    max-width: 80%;
    margin: 0 auto;
    @include text(25px, $heading-color, 700, 30px, 2);
    text-align: center;
  }
}
