.cart {
  background-color: $white-color;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;

  &-heading {
    text-align: center;
    font-size: 36px;
    color: $heading-color;
    text-transform: uppercase;
  }

  &-table {
    &__quantity {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;

      & &--input {
        width: 50px;
        & input {
          text-align: center;
        }
      }
    }

    &__btn-delete {
      display: none;

      .ant-table-cell.ant-table-cell-row-hover & {
        display: block;
      }
    }
  }

  &-info {
    padding: 10px 0;
    &__title {
      text-transform: uppercase;
      @include text($font-large, $heading-color, 400, 30px, 1);
    }
  }
}
