.cart {
  &-table {
    &__quantity {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;

      & &--input {
        width: 50px;
        & input {
          text-align: center;
        }
      }
    }

    &__btn-delete {
      display: none;

      .ant-table-cell.ant-table-cell-row-hover & {
        display: block;
      }
    }

    &__title-product h3 {
      @include text($font-medium, $text-color, 500, $font-heading, 2);
    }

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  &-info {
    padding: 10px 0;
    &__title {
      text-transform: uppercase;
      @include text($font-large, $heading-color, 400, 30px, 1);
    }
  }
}
