.cart {
  background-color: $white-color;
  padding: 10px;
  &-table {
    &__quantity {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;

      & &--input {
        width: 50px;
        & input {
          text-align: center;
        }
      }
    }

    &__btn-delete {
      display: none;

      .ant-table-cell.ant-table-cell-row-hover & {
        display: block;
      }
    }
  }

  &-order {
    border: 2px solid $secondary-color;
    border-radius: $radius-medium;
    padding: 10px 16px;

    &__title {
      text-transform: uppercase;
      @include text($font-large, $heading-color, 500, 30px, 1);
      text-align: center;
    }

    &__list {
      list-style: none;
    }

    &__item {
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid $border-color;
      padding: 2px 0;

      &.cart-order__item-title {
        font-size: $font-medium;
        font-weight: 600;
        line-height: 30px;
        border-bottom: 3px solid $border-color;
        text-transform: uppercase;
      }
      &.cart-order__item-subtitle {
        font-size: $font-small;
        font-weight: 500;
        line-height: 24px;

        & div:last-child {
          font-size: $font-medium;
          color: $red-color;
          font-weight: 700;
        }
      }
      &.cart-order__item-product {
        font-size: $font-small;
        font-weight: 400;
        line-height: 24px;
        padding: 8px 0;

        & span {
          font-weight: 500;
        }

        & div:last-child {
          font-size: $font-medium;
          font-weight: 500;
        }
      }
    }

    &__payment {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: space-between;
      margin-top: $margin-medium;
    }
  }

  &-info {
    &__title {
      @extend .cart-order__title;
    }
  }
}
