.products {
  &-list {
    background-color: $white-color;
    border-radius: $radius-medium;
    padding-bottom: 10px;
    padding-top: 10px;
    min-height: 500px;

    display: flex;
    flex-direction: column;

    &__container {
      width: 100%;
      height: 100%;
      margin: auto;
    }

    &__loading {
      text-align: center;
    }
  }
}
.products-tabs {
  border-radius: 8px 8px 0 0 !important;
  overflow: hidden;
  background-color: $white-color;

  & .ant-tabs-nav {
    margin-bottom: 8px;
  }

  & .ant-tabs-nav-wrap {
    background-color: $white-color;
  }

  & .ant-tabs-tab {
    padding: 12px;
    margin: 0 !important;

    & .ant-tabs-tab-btn {
      @include text($font-small, $gray-color, 500, 20px, 1);
    }
  }

  & .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: $primary-color-700;
    font-weight: 500;
  }
}

.detail {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__image {
    position: relative;
    aspect-ratio: 1/1;
    background-color: $primary-color;

    & img {
      object-fit: contain;
    }
  }

  &__name {
    @include text(30px, $heading-color, 700, 40px, 2);
  }

  &__price {
    display: flex;
    flex-direction: column;

    & div {
      @include text($font-large, $gray-color, 400, 28px, 1);
      text-decoration: line-through;
    }

    & p {
      @include text(28px, $title-color, 700, 28px, 1);
      display: flex;
      gap: $margin-medium;

      & span {
        border-radius: $radius-small;
        color: $red-color;
        background-color: rgba($title-color, 0.2);
        padding: 0 8px;
        font-size: 20px;
      }
    }
  }

  &__info {
    @include text($font-medium, $gray-color, 400, $font-heading, 1);
    & span {
      color: $heading-color;
      font-weight: 500;
    }
  }

  &__function {
    display: flex;
    gap: 12px;
  }

  &__description {
    & h2 {
      @include text($font-heading, $heading-color, 600, 28px, 1);
      border-bottom: 1px solid $gray-color;
      padding-bottom: $margin-medium;
    }

    & p {
      font-size: $font-medium;
      font-weight: 400;
    }
  }
  &__quantity {
    display: flex;
    align-items: center;
    gap: $margin-medium;

    & .ant-input-number input {
      text-align: center;
    }
  }

  &__main-image {
    & .slick-slide {
      & img {
        object-fit: cover;
        width: 100%;
        margin: 0 auto;
      }
    }
  }

  &__related-products {
    @include text(24px, $heading-color, 500, 28px, 1);
    margin: 24px 0;
  }
}

.slick-dots.slick-thumb {
  display: flex !important;
  position: relative;
  bottom: 0;
  & li {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    overflow: hidden;
    background-color: $white-color;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $border-color;
    box-shadow: 0 0 10px $shadow-color;
    border-radius: $radius-small;
  }

  & .slick-active {
    box-shadow: 0 0 10px $primary-color-900;
  }
}

.slick-list {
  margin-bottom: $margin-large;
}

// .slide-related-products {
//   & .slick-slide > div {
//     margin: 15px 10px;
//   }
// }
