@import '../../../styles/common/index.scss';
.menu {
  display: flex;
  gap: 50px;
  color: $black-color;
  margin-bottom: 0;

  &-item {
    list-style: none;
    position: relative;
    @include text($font-medium, $text-color, 400, 24px, 1);

    &::after {
      content: '';
      position: absolute;
      width: 0%;
      height: 2px;
      background-color: $black-color;
      top: 100%;
      left: 0;
      transition: all 0.5s ease;
    }

    &:hover.menu-item::after {
      width: 100%;
    }

    &.active {
      font-weight: 700;
      color: $heading-color;
    }

    & a {
      color: $black-color;
    }

    &__child a {
      color: $black-color;
      text-transform: capitalize;
    }

    &__dropdown {
      & .ant-dropdown-menu {
        max-height: 200px;
        overflow-y: overlay;
      }
    }
  }
}
