.ant-rate-star:not(:last-child) {
  margin-inline-end: 4px !important;
}

.slick-slider.carousel {
  border-radius: 8px;
  overflow: hidden;

  & .slick-dots li button:before {
    display: none;
  }
}
