@import './header/header.scss';
@import './footer/index.scss';

.layout {
  width: 1200px;
  margin: 0 auto;

  // @include laptop {
  //   max-width: 992px;
  // }
  @include tablet-hight {
    max-width: 960px;
  }

  @include tablet {
    max-width: 768px;
  }

  @include mobile-high {
    max-width: 540px;
  }

  @include mobile {
    max-width: 100%;
    padding: 0 $margin-small !important;
  }
}

.app-content {
  min-height: calc(100vh - 64px - 40px - 405.6px - 20px) !important;
}
