@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

@import './base/index.scss';
@import './common/index.scss';
@import './common/antd.scss';
@import './pages/index.scss';
