kind: pipeline
type: docker
name: deploy-nextjs

steps:
  # 1. Build Next.js
  - name: build-next
    image: node:18
    commands:
      - npm install
      - npm run build
      - rm -rf node_modules
      - npm install --production=false

  # 2. Đóng gói toàn bộ source thành tar.gz
  - name: compress
    image: alpine
    commands:
      - tar -czf project.tar.gz ./

  # 3. Upload file tar.gz lên server
  - name: upload
    image: appleboy/scp
    settings:
      host: 103.252.136.89
      username: root
      password: your_password
      target: "/root/deploy-temp"
      source: "project.tar.gz"

  # 4. Giải nén trên server + deploy
  - name: deploy
    image: appleboy/ssh
    settings:
      host: 103.252.136.89
      username: root
      password: your_password
      script:
        - mkdir -p /var/www/e-commerce
        - rm -rf /var/www/e-commerce/*
        - mv /root/deploy-temp/project.tar.gz /var/www/e-commerce
        - cd /var/www/e-commerce
        - tar -xzf project.tar.gz
        - rm project.tar.gz

        # Cài dependency production
        - npm install --production

        # Restart PM2
        - pm2 stop e-commerce || true
        - pm2 delete e-commerce || true
        - pm2 start npm --name "e-commerce" -- start
        - pm2 save
